@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

img {
    width: 170px;
    border: 1px solid black;
    cursor: pointer;
    margin: 9px;
    height: 200px;
}
ul li {
    padding: 2px;
    list-style: disc;
    font-size: 20px;
}
header{
    background-color: rgb(252, 149, 81);
    text-align: center;
}
h1 {
    font-size: 71px;
    font-family: 'Slabo 27px', sans-serif;
    font-weight: bold;
    padding: 20px;
}
h2#choice {
    font-size: 30px;
    position: absolute;
    text-align: -webkit-center;
    padding: 15px 0 0 31px;
    left: 464px;
    top: 109px;
    z-index: 100;
}
h2#result {
    position: absolute;
    font-size: 30px;
    text-align: -webkit-center;
    padding: 15px 0 0 31px;
    z-index: 100;
    top: 416px;
}
h2#pervious {
    font-size: 30px;
    padding: 0 0 20px 10px;
    position: absolute;
    top: 433px;
    left: 589px;
}
ul#list2 {
    position: absolute;
    top: 473px;
    left: 589px;
    border: solid;
}
canvas#chart {
    position: absolute;

    width: 650px !important;
    height: 650px!important;
    top: 978px;
    left: 281px;

}
#container {
    position: relative;
    background-color: #FFCA51;
    height: 312px;
}
#allImage {
    position: absolute;
    left: 340px;
    top: 64px;
}
#side {
    position: absolute;
    border: solid;
    padding: 0;
    margin: 0;
    left: 14px;
    top: 364px;
}
