@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

img {
    width: 170px;
    border: 1px solid black;
    cursor: pointer;
    margin: 9px;
    height: 200px;
}
ul li {
    padding: 2px;
    list-style: disc;
    font-size: 20px;
}
header{
    background-color: rgb(252, 149, 81);
    text-align: center;
}
h1 {
    font-size: 71px;
    font-family: 'Slabo 27px', sans-serif;
    font-weight: bold;
    padding: 20px;
}
h2#choice {
    font-size: 30px;
    position: absolute;
    text-align: -webkit-center;
    padding: 15px 0 0 31px;
    left: 580px;
}
h2#result {
    position: absolute;
    font-size: 30px;
    text-align: -webkit-center;
    padding: 15px 0 0 31px;
}
canvas#chart {
    position: absolute;
    width:1000px !important;
  height:1000px !important;
    top: 755px;
}
#container {
    position: relative;
    background-color: #FFCA51;
}
#allImage {
    position: absolute;
    left: 600px;
    top: 58px;
}
#side {
    position: absolute;
    position: absolute;
    border: solid;
    padding: 0;
    margin: 0;
    left: 59px;
    top: 64px;
}